#menu li a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}
#menu  {
  line-height: 60px;
}


/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  background: #354052;
  color: rgb(253, 253, 253);
  position: fixed;
   height: 115px;
  width: 100vw; 
  z-index: 10;
}

.nav-wrapper {
  display: flex;
  
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

@media(max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  } @media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    } 




#navbar ul {
  display: inline-block;
 
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;

  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} 

@media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 0.7em;
  /* height: 50px; */
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}





.user-profile{
  cursor:pointer;
  text-transform: capitalize;
}

.user-profile span i{
 margin-left: 6px;
 color: rgb(255, 255, 255);
}
.user-profile span {color: rgb(255, 255, 255);
}

.cart-list span i{
  color: rgb(255, 255, 255);
 margin-right: 6px;
}
.cart-list span {cursor: pointer;
  color: rgb(255, 255, 255);
}

.user-profile:hover span i{
transform: rotate(180deg);
}

.dropdown-menu{
  margin-top: 16px!important;
  display: flex;
  flex-direction: column; background-color:#354052!important;
}

.dropdown-menu a{
  display: block;
   padding: 10px;
  color: rgb(255, 255, 255);
  background-color:#354052;
  text-transform: capitalize;
}

.dropdown-menu a:hover{
  text-decoration: none;
  background-color: #00b300;
  color: rgb(255, 255, 255);
}

.list-profile{
  color: black;
  margin-left: 6px;
  font-weight: lighter;
}
.user-profile,.cart-list {
  margin-top: 19px; 
}
.header-bar{
  padding: 10px;
  background-color:#45484d;
  display: flex;
  justify-content:center;
}

.header-bar .sub-domain{
  padding: 8px;
  background-color : aqua;transition: 1s;
}
.header-bar .sub-domain a{
  margin: 10px;
  text-decoration: none;
  color:  #45484d;
  font-weight: bold;
  transition: 1s;
  padding: 4px;
}
.header-bar .sub-domain a:hover{
  text-decoration: none;
  border: 1px solid #45484d;
}