#menu li a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}
#menu  {
  line-height: 60px;
}


/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
   height: 60px;
  width: 100vw; 
  z-index: 10;
}

.nav-wrapper {
  display: flex;
  
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

@media(max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  } @media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    } 


.logo {
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#navbar ul {
  display: inline-block;
 
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;

  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} 

@media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  /* height: 50px; */
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}





.user-profile{
  cursor:pointer;
  text-transform: capitalize;
}

.user-profile span i{
 margin-left: 6px;
}

.cart-list span i{
 margin-right: 6px;
}

.user-profile:hover span i{
transform: rotate(180deg);
}

.dropdown-menu{
  margin-top: 16px!important;
  /* display: flex;9 */
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}.dropdown-menu ul li{
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
}

.dropdown-menu a{
  display: block;
  /* padding: 10px;9 */
  color: black;
}

.user-profile,.cart-list {
  margin-top: 19px;
}