*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
  color: white;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
 body {
	 background: #e3e5e6;
	 font-family: 'Roboto', sans-serif;
	 letter-spacing: 1px;
}



/* Left Menu */
 .left {
	 margin: 20px;
   width: 200px;
	 height: 200px;
	 background: #354052;
	 /* position: fixed;9 */
	 transition: all 0.5s;
}


 .left ul {
	 padding-left: 0;
}
 .left ul li {
   text-transform: capitalize;
	 list-style-type: none;
}
 .left ul li.active a {
	 background: #00b300;
	 color: white;
}
 .left ul li.active a:hover {
	 background: #009a00;
}
 .left ul li a {
	 display: flex;
	 align-items: center;
	 background: #354052;
	 color: white;
	 padding: 15px 10px;
	 font-size: 13px;
	 width: 200px;
	 border-bottom: 1px solid #2b3443;
}
 .left ul li a:hover {
	 background: #2b3443;
	 text-decoration: none;
}
 .left ul li a:hover i.fa {
	 color: #00b300;
}
 .left ul li a:focus {
	 text-decoration: none;
}
 .left ul li a i.fas {
	 width: 50px;
	 text-align: center;
	 padding-right: 15px;
	 transition: all 1s;
}
 .left ul .menu-heading {
border: 1px solid orange;
text-transform: capitalize;
margin: 0;
padding: 8px 0;
font-weight: bold;
background-color: #F7F6F9;
}
 .left ul .menu-heading img{
width: 40px;
height: 40px;
margin-left: 10px;
}
 .left ul .menu-heading span{
   color: orange;
margin-left: 20px;
}


/* Right Content */
 .right {
   /* padding-top: 20px; */
	 transition: all 0.5s;
	 margin-left: 300px;
   margin-top: -22rem;
}
 .right #user-profile .header {
	 background: white;
	 display: block;
	 border: 1px solid #e6e6e6;
	 padding: 5px 15px;
	 margin-left: 14px;
   /* margin-top: 20px; */
}
 .right #user-profile .header h4 {
	 display: inline-block;
	 color: #354052;
}


 .right #myorder .header {
	 background: white;
	 display: block;
	 border: 1px solid #e6e6e6;
	 padding: 5px 15px;
   margin-left: 14px;;
}
 .right #myorder .header h4 {
	 display: inline-block;
	 color: #354052;
}
 .right #myorder .content {
	 margin: 0 30px 15px 15px;
}
 .right #whishlist .header {
	 background: white;
	 display: block;
	 border: 1px solid #e6e6e6;
   padding: 0px 15px;
	 margin-left: 14px;
}
 .right #whishlist .header h4 {
	 display: inline-block;
	 color: #354052;
   margin-top: 20px;
}
 .right #whishlist .content {
	 margin: 0 30px 15px 15px;
}
.right #viewaddress .header {
  background: white;
  display: block;
  border: 1px solid #e6e6e6;
  padding: 0px 15px;
  margin-left: 14px;
}
.right #viewaddress .header h4 {
  display: inline-block;
  color: #354052;
  margin-top: 20px;
}
.right #viewaddress .content {
  margin: 0 30px 15px 15px;
}
.main{
	padding-top: 120px;
	margin: 0 200px 0 100px;
  /* display: f;9 */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.heading-section-name{
  color: #f0a500;
}

.input-profile-field
 {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.gender + label
 {
  width: 100%;
  padding: 0.6em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
	color: black;
}

.date-of-birth{
  width: 100%;
  padding: 0.9em;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
	color: black;
}
.input-profile-field:focus {
  outline: 0;
  border-color: #bd8200;
}
.input-profile-field:focus{
  color: #f0a500;
}
.input-icon i {
  color: #f0a500;
}

.input-profile-field:focus + .input-icon:after {
  border-right-color: #f0a500;
}
.gender {
  display: none;
}
.gender + label {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}

.gender + label i {
  padding-right: 0.4em;
}
.gender:checked + label,
.gender:checked + label:before,
.gender:focus,
.gender:active {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
}

.input-group-profile {
  margin-bottom: 1em;
  zoom: 1;
}

.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.form-pofile-information {
  padding: 1em;
	margin: 1rem 0 0 1.4rem;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.whishlist-myorder {
  padding: 1em;
	margin: 1rem 0 0 1.4rem;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.form-viewaddress-information{
  padding: 1.6em;
	margin: 1rem 0 0 1.4rem;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.form-viewaddress-information .add-address{
  display: flex;
  padding: 6px;
align-items: center;
  text-align: center;
  border: 1px solid grey;
  cursor: pointer;
}
.view_address_list{
  margin-top: 10px;
  border: 1px solid grey; padding: 10px;
background-color: #222;
}

.add-address .add-button i{
    margin-left: 10px;
      color: black;
      font-size: 18px;
}.add-address .add-button i:hover{
  color: orange;
}
.add-address .add-new-address h5{margin-left: 10px;
  text-transform: capitalize;
  color: black;
  font-weight: 500;
}
.name-and-number-todo{
  padding: 0;
 margin-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
}.name-and-number-todo h3{
  margin: 0 2px 0 2px;
  padding: 0;
  /* margin: 0;9 */
}
.address-todo{
  display: flex;
  flex-wrap: wrap;
}

.left-form-top-flex{
	display: flex;
	flex-wrap: wrap;
}



.left-form h4{
  text-align: center;
}





.avatar-upload {
  position: relative;
  max-width: 205px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  left: 60px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}



.avatar-upload .avatar-preview {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo-upload{
  margin-left: 80px;
  margin-bottom: 1pc;
}


.right-form{
  margin-left: 22.3rem;
	display: flex;
	flex-wrap: wrap;
}

.right-form-side h4{
    text-align: center;
}
.right-form{
  margin-left: 26.6rem;
	display: flex;
	flex-wrap: wrap;
}

.right-form-side h4{
    text-align: center;
}

.right-form-2{
	margin-left: 6rem;
}


.save-button-section{
  margin-top: 40px;
	margin-left: 6rem;
}

.left-form-top-flex-1{
	margin: 10px 45px 0 50px;
}

.save-button {border-radius: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: 8px;
  background-color: #222;
  padding: 10px 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

@import url(http://fonts.googleapis.com/css?family=Maven+Pro);
.tab-wrap-myorder {
	transition: 0.3s box-shadow ease;
	border-radius: 6px;
	max-width: 100%;
	display: flex;
flex-wrap: wrap;
	position: relative;
	list-style: none;
	background-color: #fff;
	margin: 1rem 0 0 1.4rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.tab_myorder {
	display: none;
}
.tab_myorder:checked:nth-of-type(1) ~ .tab__content_myorder:nth-of-type(1) {
	opacity: 1;

	transition: 0.5s opacity ease-in, 0.2s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tab_myorder:checked:nth-of-type(2) ~ .tab__content_myorder:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.2s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab_myorder:first-of-type:not(:last-of-type) + label {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.tab_myorder:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab_myorder:last-of-type:not(:first-of-type) + label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.tab_myorder:checked + label {      
    color: #f0a500;
	background-color: #fff;

	box-shadow: 0 -1px 0 #fff inset;
	cursor: default;
}
.tab_myorder:checked + label:hover {
	box-shadow: 0 -1px 0 #fff inset;
	background-color: #fff;color: #f0a500;
}
.tab_myorder + label {
  color: #f0a500;
	width:100%;	  
	box-shadow: 0 -1px 0 #eee inset;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #333;
		  flex-grow: 3;
	text-align: center;
	background-color: #f2f2f2;
		  user-select: none;
	text-align: center;
	transition: 0.3s background-color ease, 0.3s box-shadow ease;
	height: 50px;
	box-sizing: border-box;
	padding: 15px;
}
@media (min-width:768px) {
		
	.tab_myorder + label {
		width:auto;
	}
}
.tab_myorder + label:hover {
	background-color: #f9f9f9;
	box-shadow: 0 1px 0 #f4f4f4 inset;
  border: 1px solid #f0a500;
  /* color:#f0a500 ;9 */
}
.tab__content_myorder {
  padding: 1em;
background-color: white;
	position: absolute;
	width: 100%;
	z-index: -1;
	opacity: 0; box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
	left: 0;
 transform: translateY(-3px);
	/* border-radius: 6px;9 */
}
.tab__content_myorder h3 {
color: black;
}







.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  /* width: 100%; Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  /* padding: 2px 16px;9 */
  background-color: #000000;
  color: white;
}





.add-adress-form{
  /* display: flex;9 */
  /* flex-direction: column; */
  /* justify-content: center;9 */
  
}
.add-adress-form h1{
  color: black;text-align: center;
}
.add-adress-form p{
  color: black;text-align: center;
}


.form {
  /* display: grid;9 */
 padding: 2rem;
  /* grid-gap: 1rem;9 */
}

.field {
  width: 66%;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: .5rem;
  /* margin: 6px9; */
  border-radius: .25rem;
}

.field__label {
  color: grey;
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem

}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 50%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: black;
}
.field:focus-within {
  border-color: #000;
}

.fields--2 {
  display: flex;
  width: 100%;
}
.fields--3 {
  display: flex;
  width: 100%;
}
.fields--4 {
  width: 100%;
}.fields--5 {
  width: 100%;
}
.add-submt-button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;

  color: rgb(0, 0, 0);

  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  color: white;
  cursor: pointer;
  outline: 0;
}
.add-address-secton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.add-submt-button:focus-visible {
  background-color: #333;
}

.address-label{
  text-transform: capitalize;
  color: black;
 margin-left: 6px;
}
.address_type{
  margin-left: 6px;
}
.address-type-todo{
  display: flex;
  justify-content: left;
}
.address-type-todo p{
  text-transform: capitalize;
  padding: 2px 4px;
  background-color: grey;
}
.fields--6{
  text-align:center;
  display: flex;
  justify-content: center;
}
.address_type_name{
  text-align: center;
  color: black;
}


.quickaddForm {
  margin-top: 20px;
  height:550px;
  padding:10px;
  overflow:hidden;
  display:none;
  border: 1px solid grey;
}

.quickaddForm label {
  position:relative;
  display:block;
  width:300px;
  height:10px;
  float:left;
  font-family:sans-serif;
  font-size:12px;
  padding:10px;
  font-weight:bold;
  color: #f0a500;
}

.quickaddForm input,textarea { border: 1px solid grey;
  /* border:1px dashed; */
  width:50%;
  padding:10px;
  font-weight:bold;
  border-radius:5px;
}

#Add,#Cancel {
 align-items: center;
  border-radius: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: 8px;
  background-color: #222;
  padding: 10px 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  margin: 15px;
}
.add-and-cancel{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.entry {
  padding: 20px;
  margin-top: 20px;
  background:rgb(230,230,230);
  color: #f0a500;
  border-bottom:1px solid;
}

.entry div p{
  color: #f0a500;
}


.entry .del {
  padding:9px;
}

.entry p {
  margin:0px;
  font-family:sans-serif;
  font-size:12px;
  text-shadow:0px 0px 1px rgba(0,0,0,0.4);
}

.entry .del a {
  font-family:sans-serif;
  color:#FFF;
  font-size:12px;
  padding:5px;
  background:rgb(255,100,100);
  border-radius:8px;
  text-decoration:none;
}
