#imageCarousel{
  padding-top: 115px;
}

.carousel .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.carousel .carousel-item:first-of-type {
  background-image: url(../image/watches-1.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 70vh;
}

.carousel .carousel-item:nth-of-type(2) {
  background-image: url(../image/watches-2.jpg);
  background-size: 100% 100%;height: 70vh;
}.carousel .carousel-item:nth-of-type(3) {
  background-image: url(../image/watches-3.jpg);
  background-size: 100% 100%;height: 70vh;
}
.carousel .carousel-item:nth-of-type(4) {
  background-image: url(../image/watches-4.jpg);
  background-size: 100% 100%;height: 70vh;
}
.carousel .carousel-item:nth-of-type(5) {
  background-image: url(../image/watches-5.jpg);
  background-size: 100% 100%;height: 70vh;
}
.carousel .carousel-item:last-of-type {
  background-image: url(../image/watches-6.jpg);
  background-size: 100% 100%;height: 70vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 50px;
  height: 50px;
}
.content_detail__pagination{
  background-color: #AED6F1;
  height: 14vh;
  position: relative;
  text-align: center;
}

